<section class="form-section" >
    <div class="text">
        <h3>
            Fique por dentro de tendências
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus quam repellat voluptate error corporis labore exercitationem delectus repellendus, fugit tenetur excepturi, quaerat voluptatum sapiente? Maiores, assumenda provident dignissimos sint fuga cumque ipsa quae excepturi illo at. Suscipit hic officia ipsa voluptas dolor eum provident delectus, corrupti iusto nesciunt aut.
        </p>
    </div>

    <form action="">
        <label for="email">Name</label>
        <input type="text" id="name">
        <label for="email">Email</label>
        <input type="text" id="email">
        <btn-primary></btn-primary>
    </form>
</section>
