@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300,400;0,700;1,100;1,600&family=Roboto:wght@100;400;900&display=swap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.pad-70{
    padding: 70px 90px;
}